@font-face {
  font-family: "Visuelt Pro";
  font-display: swap;
  font-weight: 400;
  src: url("../../assets/fonts/regular.ttf")  format("trueType");
}

@font-face {
  font-family: "Visuelt Pro";
  font-display: swap;
  font-weight: 700;
  src: url("../../assets/fonts/bold.ttf") format("trueType");
}
