@use "./fonts.module.scss";

$color-black: #0b0c0e;
$color-white: #e6e6e6;
$color-grey: #272932;
$color-light-grey: #4e5264;
$color-red: #f05d5e;
$color-green: #43EFA3;

$color-background: $color-black;
$color-background-lifted: $color-grey;
$color-background-lifted2: $color-light-grey;
$color-text: $color-white;
$color-text-low-emphasis: $color-background-lifted2;
$color-primary: $color-green;
$color-error: $color-red;

.is-light-mode {}

@media (prefers-color-scheme: light) {}
