@use "../styles/variables.module.scss" as v;

.root {
    padding: 3.5rem 3rem 10.6rem;

    > div:nth-of-type(2){
        border-top: 0.1rem solid v.$color-background-lifted;
        padding-top: 2.5rem;
    }
}