@use "../../styles/variables.module.scss" as v;

.root {
  position: relative;
  padding: 0 3rem 2.5rem;

  > a:last-of-type {
    border-bottom: none;
  }

  .title {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: v.$color-background-lifted2;
    margin: 0 3rem 1rem;
  }
}
