@use "../../styles/variables.module.scss" as v;

.root {
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 2rem 0;
  text-decoration: none;
  border-bottom: 1px solid v.$color-background-lifted;

  &:last-of-type {
    border-bottom: none;
  }

  .image-container {
    width: 5rem;
    min-width: 5rem;
    height: 5rem;
    background-color: v.$color-background-lifted;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &.group {
      border-radius: 1rem;
    }

    .profile-image {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
    }

    .online-marker {
      width: 1.2rem;
      height: 1.2rem;
      background-color: v.$color-primary;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem;
    max-width: calc(100% - 6.5rem);
    gap: 0.5rem;
    width: -webkit-fill-available;
    margin-top: 0.7rem;
    justify-content: center;

    &.no-messages {
      margin-top: 0;
    }
  }

  .info-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;

    .name {
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 1.8rem;
      text-overflow: ellipsis;
      overflow: hidden;
      color: v.$color-text;
    }

    .time-since-last-received-message {
      font-size: 1.2rem;
      line-height: 1rem;
      color: v.$color-text-low-emphasis;
      text-align: right;
      text-transform: uppercase;
    }
  }

  .secondary-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;

    &.no-messages {
      margin-top: 0.5rem;
    }

    .last-received-message {
      font-size: 1.2rem;
      line-height: 1rem;
      color: v.$color-text-low-emphasis;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 17.5rem;

      &.colored {
        color: v.$color-primary;
      }

      .user {
        color: v.$color-text;
        text-transform: capitalize;
      }
    }

    .icons {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;
    }
  }
}
