@use "../../styles/variables.module.scss" as v;

.root {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(11, 12, 14, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 3rem 3rem 1.5rem 3rem;
  z-index: 100;
  backdrop-filter: blur(1rem);

  .title {
    margin: 0;
    font-size: 2.4rem;
    font-weight: 700;
  }
}
